{% trans_default_domain 'user' %}

{# Must sigin in info #}
<p class="alert alert-warning text-center">
    {{ 'text.alert_must_signin_warning'|trans }}
</p>
{# Sigin button #}
<p class="text-center">
    <a href="{{ path('user_signin') }}" rel="nofollow" title="{{ 'label.signin'|trans }}">
        <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-log-in white"></span> {{ 'label.signin'|trans }}
        </button></a>
</p>