{# You can insert here the informations and links that should appear on the navbarMenu #}
{# You don't need to open/close the ul as it's done in the navbarMenu.html.twig file #}

{# i.e. link to PageEdit dashboard #}
{#
{% if is_granted('ROLE_ADMIN') %}
    <li>
        <a href="{{ path('pageedit_dashboard') }}">PageEdit</a>
    </li>
{% endif %}
#}