{% trans_default_domain 'user' %}

<p class="alert alert-warning text-center">
    {% trans with {
        '%terms_link%': path('pageedit_display', { 'page': 'terms-of-use' }),
        '%privacy_link%': path('pageedit_display', { 'page': 'privacy-policy' }),
        '%site%': site,
        } from 'user' %}
        text.signup_acceptance
    {% endtrans %}
</p>