{% if app.user == null %}
    <a href="{{ path('user_signin') }}">{{ 'label.signin'|trans({}, 'user') }}</a>
{% else %}
    <a href="{{ path('user_signout') }}">{{ 'label.signout'|trans({}, 'user') }}</a>
{% endif %}