{% trans_default_domain 'user' %}

<p>
    Cet outil sert à ce que les utilisateurs puissent gérer leurs informations, profil, mot de passe, etc. Dans le futur il permettra aus utilisateurs avec le rôle adéquat de gérer ces utilisateurs via le tableau de bord.
</p>

<p class="text-center">
    <strong><a href="https://975l.com/fr/pages/user-bundle">>> Utilisateur (Tutoriels, copies d'écran, etc.) <<</a></strong>
</p>