{% trans_default_domain 'user' %}

<p>
    This tool is used for users to manage their information, profile, password, etc. In the future it will allow users with the proper role to manage these users via the dashboard.
</p>

<p class="text-center">
    <strong><a href="https://975l.com/en/pages/user-bundle">>> User (Tutorials, screenshots, etc.) <<</a></strong>
</p>