{% trans_default_domain 'user' %}

<p>
    This tool is used to manage your profile information, password, etc.
</p>

<p class="text-center">
    <strong><a href="https://975l.com/en/pages/user-bundle">>> User (Tutorials, screenshots, etc.) <<</a></strong>
</p>