{% trans_default_domain 'user' %}

<p>
    Esta herramienta se usa para administrar su información de perfil, contraseña, etc.
</p>

<p class="text-center">
    <strong><a href="https://975l.com/es/pages/user-bundle">>> Usuario (Tutoriales, capturas de pantalla, etc.) <<</a></strong>
</p>