{% trans_default_domain 'user' %}

<p>
    Cet outil sert à gérer vos informations de profil, mot de passe, etc.
</p>

<p class="text-center">
    <strong><a href="https://975l.com/fr/pages/user-bundle">>> Utilisateur (Tutoriels, copies d'écran, etc.) <<</a></strong>
</p>