{% extends '@c975LEmail/emails/layout.html.twig' %}
{% trans_default_domain 'user' %}

{% block email_content %}
    {% block user_content %}
        <div>
    {# Explanation #}
            <p>
                {{ 'text.registration_email'|trans }}
            </p>
    {# Url #}
            <p>
                <a href="{{ url }}">{{ url }}</a>
            </p>
    {# Use only once #}
            <p>
                {{ 'text.use_only_once_link'|trans }}
            </p>
        </div>
    {% endblock %}
{% endblock %}