{% extends '@c975LEmail/emails/layout.html.twig' %}
{% trans_default_domain 'user' %}

{% block email_content %}
    {% block user_content %}
        <div>
{# Explanation #}
            <p>
                {{ 'text.reset_password'|trans }}
            </p>
{# Url #}
            <p class="text-center">
                <a href="{{ url }}" class="btn btn-primary btn-lg">
                    {{ 'label.reset_password'|trans }}</a>
            </p>
{# Reset password not requested info #}
            <p>
                <strong>
                    {{ 'text.reset_password_not_requested'|trans({'%date%': date|format_datetime('medium', 'medium')}) }}
                </strong>
            </p>
        </div>
    {% endblock %}
{% endblock %}