{% extends "@c975LUser/layout.html.twig" %}
{% trans_default_domain 'user' %}
{% set title = 'label.check_email'|trans %}

{% block user_content %}
    <p class="text-center">
{# Register #}
        {% if action == "register"%}
            {{ 'text.check_email_register'|trans({'%email%': email})|raw }}
{# Reset password #}
        {% elseif action == "resetPassword"%}
            {{ 'text.check_email_reset_password'|trans({'%email%': email})|raw }}
        {% endif %}
    </p>
{% endblock %}