{% extends "@c975LUser/layout.html.twig" %}
{% trans_default_domain 'user' %}
{% set title = 'label.mail_password_sent'|trans %}

{% block user_content %}
    <p class="alert alert-info text-center">
        {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime}, 'FOSUserBundle') }}
    </p>
{% endblock %}